<?xml version="1.0"?>

<launch>
  <include file="$(find ucl_drone)/launch/global_params.xml" />
  <include file="$(find ucl_drone)/launch/slam.xml" />
  <include file="$(find ucl_drone)/launch/gui.xml" />
  <include file="$(find ucl_drone)/launch/driver.xml" />
  <include file="$(find ucl_drone)/launch/controller.xml" />
  <node name="ucl_drone_pose_estimation" pkg="ucl_drone" type="pose_estimation" output="screen"></node>
</launch>
